<div class="banner">
  <div class="banner-content text-center">
    <h1>Está na mesa!</h1>
    <p>Descobre onde podes saborear o teu prato favorito hoje</p>
    <%= render 'shared/search_form' %>
  </div>
</div>
